<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe</title>

    <!-- bootstrap   -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <!-- jQuery   -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- ajax   -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- google Web fonts   -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">


    <!-- css links   -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
</head>
<body>
<div class="main-container">
    <nav>
            <ul>
                {% if login_status == 0 %}
                    <li><a href="/main"><img src="../../static/img/logo.png" class="logo"></a></li>
                    <li><a href="/product/list">PRODUCT</a></li>
                    <li><a href="/coffee/list">COFFEE</a></li>
                    <li>
                        <button id="login">LOGIN</button>
                    </li>
                    <li>
                        <button id="join">JOIN</button>
                    </li>
                 {% elif login_status == 1 %}
                    <li><a href="/main"><img src="../../static/img/logo.png" class="logo"></a></li>
                    <li><a href="/product/list">PRODUCT</a></li>
                    <li><a href="/coffee/list">COFFEE</a></li>
                    <li><button class="logout" onclick="logout()">LOGOUT</button></li>
                    <script>
                        //logout
                        function logout() {
                            $.removeCookie('mytoken', {path: '/'});
                            alert('로그아웃!');
                            window.location.href = "/main";
                        }
                    </script>
                {% endif %}
            </ul>
        </nav>
</div>
</body>
</html>